<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.wishtarot.finsys.audit.mapper.AuditLogsMapper">

    <insert id="insertAuditLog" parameterType="kr.wishtarot.finsys.audit.model.AuditLog">
        INSERT INTO audit_logs (user_id, action, description, ip_address, created_at)
        VALUES (#{userId}, #{action}, #{description}, #{ipAddress}, #{createdAt})
    </insert>

</mapper>
